.consultaGrid {
    width: 88%;
    display: grid;
    grid-template: 80px 30px 30px 30px 10px auto / 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.animalInfo {
    width: 100%;
    display: grid;
    grid-template: 100% / 30% 30% 30%;
    grid-gap: 5%;
}

.consultaFormGrid {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template: 100px minmax(40px, auto) 100px minmax(50px, auto) minmax(50px, auto) minmax(70px, auto) 50px / 100%;
    grid-gap: 25px;
}

.tempPesoSintGrid {
    width: 100%;
    display: grid;
    grid-template: 100% / 20% 20% 50%;
    grid-gap: 5%;
}

.sintomaChip {
    background-color: #039be5;
    color: white;
}

.extrasGrid {
    display: grid;
    grid-template: 100% / 45% 45%;
    grid-gap: 8%;
}

.vacinasGrid {
    display: grid;
    grid-template: 50px minmax(0px, auto) / 100%;
}

.cardEstilo {
    max-height: 40px;
    margin-bottom: 4px;
}

.tituloVacinasGrid {
    display: grid;
    justify-content: center;
    color: #3b3b3b;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
    justify-content: center;
    align-content: center;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}

.laranja {
    background-color: #ffa726;
    color: white;
}

.verde {
    color: white;
    background-color: #4caf50 !important;
}

.tituloMedGrid {
    justify-content: center;
}

.roxo {
    background-color: #3f51b5;
    color: white;
}

.medBtn {
    background-color: #009688;
    color: white;
    margin-bottom: 10px;
}

.corMedicamento {
    background-color: #3a9188;
}

.ehPedido {
    color: white;
    background-color: #2f65f8 !important;
}
