<div class="consultaGrid">
  <h1 class="tituloGrid">Consulta</h1>
  <p>Nome Cliente: {{agendamento.cliente?.nome | titlecase}}</p>
  <div class="animalInfo">
    <p>Nome Animal: {{agendamento.animal?.nome | titlecase}}</p>
    <p>Raça: {{agendamento.racaAnimal?.nome | titlecase}}</p>
    <p>Idade Animal: {{IdadeAnosMeses}}</p>
  </div>
  
  <p>Observações do Agendamento: {{agendamento?.observacoes}}</p>
  <p>Consulta realizada em: {{consultaForm.get('DataHoraConsulta').value | date: 'dd/MM/yyyy HH:mm'}}</p>
  
  <form class="consultaFormGrid" [formGroup]="consultaForm" (submit)="finalizarConsulta()">
    <mat-form-field>
      <textarea matInput rows="4" formControlName="QueixaInicial" placeholder="Queixa Inicial relatada pelo Cliente"></textarea>
    </mat-form-field>
    
    <div class="tempPesoSintGrid">
      <mat-form-field>
        <input matInput type="number" placeholder="Temperatura" formControlName="Temperatura">
        <span matSuffix>ºC</span>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput type="number" placeholder="Peso" formControlName="Peso">
        <span matSuffix>KG</span>
      </mat-form-field>
      
      <mat-form-field>
        <mat-chip-list #sintomasList>
          <mat-chip class="sintomaChip" *ngFor="let sintoma of sintomas" [selectable]="selectable"
          [removable]="removable" (removed)="removeSintoma(sintoma)">
          {{sintoma}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Sintomas"
        [matChipInputFor]="sintomasList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addSintoma($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>  
  
  <mat-form-field>
    <textarea matInput rows="4" formControlName="ExameClinico" placeholder="Exame Clínico"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput rows="4" formControlName="Diagnostico" placeholder="Diagnostico/Suspeita"></textarea>
  </mat-form-field>
  
  <div class="extrasGrid">
    <div class="vacinasGrid">
      <button mat-raised-button matTooltip="Aplicações que aparecerem na lista em Verde já estão cadastradas no sistema independente da Consulta ser cadastrada ou não. Em caso da aplicação já ter sido cadastrada no sistema apenas vincule a Aplicação/Consulta na aba 'Vincular na Consulta' após finalizar o cadastro da Consulta."
      type="button" (click)="aplicarVacina()" class="laranja mat-elevation-z2">
        <mat-icon>send</mat-icon> Aplicar Vacina / Injeção
      </button>
      
      <div class="vacinasAplicadasGrid" *ngIf="vacinasAplicadas.length > 0">
        <h4 class="tituloVacinasGrid">Vacinas/Injeções Aplicadas</h4>
          <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip *ngFor="let vacina of vacinasAplicadas" selected class="verde mat-elevation-z2">
              {{vacina.nomeVacina}} - {{vacina.quantidadeAplicada}} ml
            </mat-chip>
          </mat-chip-list>
      </div>
    </div>

    <!-- exames grid-->
    <div class="vacinasGrid">
        <button mat-raised-button matTooltip="Exames que aparecerem na lista em Azul ou Verde já estão cadastradas no sistema independente da Consulta ser cadastrada ou não. Em caso do exame já ter sido cadastrada no sistema apenas vincule o exame na aba 'Vincular na Consulta' após finalizar o cadastro da Consulta."
        type="button" (click)="novoExame()" class="roxo mat-elevation-z2">
          <mat-icon>description</mat-icon> Novo Exame
        </button>

        <div class="vacinasAplicadasGrid" *ngIf="examesRealizados.length > 0">
          <h4 class="tituloVacinasGrid">Exames</h4>
            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip *ngFor="let exame of examesRealizados" selected 
                class="mat-elevation-z2"
                [ngClass]="{
                  'ehPedido': exame.ehPedido == true,
                  'verde': exame.ehPedido == false
                }">
                {{exame.nome | titlecase}}
              </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <!-- end exames grid -->
  </div>

  <div class="receitaGrid">
    <h3 class="tituloMedGrid">Receita</h3>
    <button type="button" (click)="adicionarMedicamento()" mat-raised-button class="medBtn mat-elevation-z2">
      <mat-icon>redo</mat-icon> Adicionar Medicamento
    </button>

    <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let medicamento of medicamentosDaReceita" selected 
          class="corMedicamento mat-elevation-z2">
          {{medicamento.nome}} - {{medicamento.quantidade}} {{medicamento.unidadeDeMedida}} - {{medicamento.comoSerTomado}}
        </mat-chip>
      </mat-chip-list>
  </div>
  
  <div class="btnCadastrar">
    <button mat-raised-button class="azul mat-elevation-z3" [disabled]="!consultaForm.valid">Finalizar Consulta</button>
  </div>
</form>
</div>