<div class="listaAgendamentosGrid">
  <h1 class="tituloGrid">Lista de Agendamentos</h1>

  <mat-accordion>
      <mat-expansion-panel *ngFor="let agendamento of agendamentos"
        class="mat-elevation-z5"
        [ngClass]="{
            'agendado': agendamento.statusId == 1,
            'realizado': agendamento.statusId == 3,
            'cancelado': agendamento.statusId == 4}">
          <mat-expansion-panel-header>
              <mat-panel-title>
                  {{agendamento.dataHora | date: 'dd/MM/yyyy HH:mm'}}
              </mat-panel-title>
              <mat-panel-description class="panelFlex">
                  <div class="fone">
                      <mat-icon>person</mat-icon>{{agendamento.cliente.nome | titlecase}}
                      <mat-icon>pets</mat-icon>{{agendamento.animal.nome | titlecase}}
                      <mat-icon>work</mat-icon>{{agendamento.funcionario.nome | titlecase}}
                  </div>
              </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="expansionGrid">
              <button (click)="cancelarAgendamento(agendamento.id)" mat-raised-button class="vermelho">
                  <mat-icon>cancel</mat-icon> Cancelar
              </button>
              <button (click)="editarAgendamento(agendamento.id)" mat-raised-button class="editarCor">
                  <mat-icon>edit</mat-icon> Editar
              </button>
              <button (click)="finalizarAgendamento(agendamento.id)" mat-raised-button class="verde">
                  <mat-icon>done_all</mat-icon> Finalizar
              </button>
          </div>
      
      </mat-expansion-panel>
  </mat-accordion>
</div>