.listaAgendamentosGrid {
    width: 88%;
    display: grid;
    grid-template-rows: 100px auto;
    margin-left: 5%;
    margin-right: 5%;
}

.agendado {
    background-color: #b2ebf2;
}

.realizado {
    background-color: #c8e6c9;
}

.cancelado {
    background-color: #fdafaf;
}

.tituloGrid {
    justify-self: center;
}

.expansionGrid {
    display: grid;
    grid-template: 100% / 30% 30% 30%;
    grid-gap: 3%;
}

.verde {
    background-color: #388e3c;
    color: white;
}

.vermelho {
    background-color: #f55656;
    color: white;
}

.editarCor {
    background-color: #59bdd6;
    color: white;
}