/* 400px h */
.addMedicamentoGrid {
    display: grid;
    grid-template: 70px 60px 60px minmax(150px, auto) 50px / 100%;
}

.tituloGrid {
    justify-self: center;
}

.quantidadeUn {
    display: grid;
    grid-template: 100% / 50% 30%;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
}