<form [formGroup]="addMedicamentoForm" (submit)="adicionarMedicamento()" class="addMedicamentoGrid">
  <h3 class="tituloGrid">Adicionar Medicamento</h3>

  <mat-form-field>
    <input matInput placeholder="Nome" formControlName="Nome">
  </mat-form-field>

  <div class="quantidadeUn">
      <mat-form-field>
        <input type="number" matInput placeholder="Quantidade" formControlName="Quantidade">
      </mat-form-field>
    
      <mat-form-field>
        <mat-select placeholder="UN" formControlName="UnidadeDeMedida">
          <mat-option value="ml">ml</mat-option>
          <mat-option value="gr">gr</mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <mat-form-field>
    <textarea matInput rows="5" formControlName="ComoSerTomado" placeholder="Como ser tomado"></textarea>
  </mat-form-field>

  
  <div class="btnCadastrar">
    <button mat-button class="azul" [disabled]="!addMedicamentoForm.valid">Adicionar</button>
  </div>
</form>