<mat-tab-group>
  <mat-tab label="Minhas Consultas">
    <app-minhas-consultas></app-minhas-consultas>
  </mat-tab>
  <mat-tab label="Vincular na Consulta">
    <app-vincular-vacina-eexame></app-vincular-vacina-eexame>
  </mat-tab>
</mat-tab-group>