<div class="clienteGrid">
  <h3 class="tituloGrid">Selecionar Cliente</h3>
  <mat-form-field>
      <input matInput placeholder="Filtre os clientes pelo Nome" autocomplete="off" [value]="termo" (input)="termoChanged($event.target.value)">
  </mat-form-field>
  <mat-selection-list ng-model="cliSelecionado" (selectionChange)="clienteMudou($event.option.value)">
    <mat-list-option [selected]="cliSelecionado == cliente.id" *ngFor="let cliente of clientes | filtro:termo" [value]="cliente.id">
      <span>
        <mat-icon>person</mat-icon> {{ cliente.nome }} -
        <mat-icon>phone</mat-icon> {{cliente.telefone}}
      </span>
    </mat-list-option>
  </mat-selection-list>
</div>    