.vinculoGrid {
    margin-left: 8%;
    margin-right: 8%;
    display: grid;
    grid-template: 150px 80px 80px 100px / 100%;
}

.tituloGrid {
    display: grid;
    grid-template: 60% 40% / 100%;
}

.titulo {
    justify-self: center;
}

.btnVincular {
    justify-self: center;
    margin-top: 50px;
}

.azul {
    background-color: #063af5;
    color: #fff;
}