<form [formGroup]="vinculoCliCliForm" (submit)="vincularCliCli()">

  <div class="vinculoGrid">

    <div class="tituloGrid">
      <h1 class="titulo">Vincular Cliente</h1>
      <mat-hint align="end">Todos os campos deste formulário devem ser digitados pelo CLIENTE. NUNCA PEÇA A SENHA DO CLIENTE</mat-hint>
    </div>
  
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="Email">
      <mat-hint align="start">Peça para o CLIENTE digitar o email que utiliza para entrar no sistema.</mat-hint>
    </mat-form-field>
  
    <mat-form-field>
      <input type="password" matInput placeholder="Senha" formControlName="Senha">
      <mat-hint align="start">Peça para o CLIENTE digitar a senha que utiliza para entrar no sistema.</mat-hint>
    </mat-form-field>
  
    <div class="btnVincular">
      <button mat-raised-button class="azul mat-elevation-z3" [disabled]="!vinculoCliCliForm.valid">Vincular</button>
    </div>
  
  </div>

</form>