.novoExameGrid {
    display: grid;
    grid-template: 70px 70px 70px minmax(0px, auto) 70px / 100%;
}

.tituloGrid {
    justify-self: center;
}

.cliAnimalGrid {
    display: grid;
    grid-template: 100% / 45% 45%;
    grid-gap: 8%;
}

.exameFinalizadoGrid {
    display: grid;
    grid-template: auto 100px / 100%;
    grid-gap: 10px;
}

.inputElement {
    display: none;
}

.inserirCor {
    background-color: #f07e22;
    color: white;
}

.btnCadastrar {
    margin-top: 15px;
    display: grid;
    grid-template: 100% / 20% auto 20%;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
    height: 35px;
}