<form class="novoExameGrid" [formGroup]="novoExameForm" (submit)="cadastrarExame()">
  <div class="tituloGrid">
    <h3 *ngIf="novoExameForm.get('Status').value == 3">Exame</h3>
    <h3 *ngIf="novoExameForm.get('Status').value == 1">Pedido de Exame</h3>
  </div>

  <div class="cliAnimalGrid">
    <mat-form-field>
      <input matInput readonly placeholder="Nome do Cliente" [value]="cliente.nome">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput readonly placeholder="Nome do Animal" [value]="animal.nome">
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput placeholder="Nome do Exame" formControlName="Nome">
  </mat-form-field>

  <div class="exameFinalizadoGrid" *ngIf="novoExameForm.get('Status').value == 3">
    
    <div class="inputGrid">
      <input class="inputElement" #fileInput (change)="inserirArquivo($event)" multiple type="file" />
      <button (click)="fileInput.click()" type="button" mat-button matTooltip="Apenas PDF, JPEG ou JPG" class="inserirCor">
        <mat-icon>attach_file</mat-icon> Inserir Arquivo do Exame
      </button>
      <div class="imageInfo" *ngIf="arquivo">
        <p>{{arquivo.name}}</p>
      </div>
    </div>

    <mat-form-field>
      <textarea matInput rows="3" formControlName="Resultado" placeholder="Resultado do Exame"></textarea>
    </mat-form-field>
  </div>

  <div class="btnCadastrar">
    <button mat-button class="azul" *ngIf="novoExameForm.get('Status').value == 3" [disabled]="!novoExameForm.valid">Cadastrar Exame</button>
    <button mat-button class="azul" *ngIf="novoExameForm.get('Status').value == 1" [disabled]="!novoExameForm.valid">Cadastrar Pedido de Exame</button>
  </div>
</form>