.clienteFormGrid {
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-rows: 100px repeat(6, 14%);
    margin-left: 8%;
    margin-right: 8%;
    grid-row-gap: 10px;
}

.tituloGrid {
    display: grid;
    margin-bottom: 10px;
}

.titulo {
    justify-self: center;
}

.nomedata {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 5px;
}

.endereco {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5px;
}

.contato {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
}

.senha {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;

    margin-bottom: 10px;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}