<form [formGroup]="novoClienteForm" (submit)="cadastrarCliente()">
  <div class="clienteFormGrid">
    <div class="tituloGrid">
      <h1 class="titulo">Cadastrar Cliente</h1>
      <mat-hint align="end">Para clientes com Email já cadastrado utilizar 'Vincular Cliente'</mat-hint>
    </div>
    
    <div class="nomedata">
      <mat-form-field>
        <input matInput placeholder="Nome do Cliente" formControlName="Nome">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento" formControlName="DataNascimento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  
    <div class="endereco">
      <mat-form-field>
        <input matInput placeholder="Endereço" formControlName="Endereco">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Bairro" formControlName="Bairro">
      </mat-form-field>
    </div>
  
    <div class="contato">
      <mat-form-field>
        <input matInput placeholder="Telefone" formControlName="Telefone">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Celular" formControlName="Celular">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Outro Número" formControlName="OutroNumero">
      </mat-form-field>
    </div>
  
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="Email">
    </mat-form-field>
    
    <div class="senha">
      <mat-form-field>
        <input type="password" matInput placeholder="Senha" formControlName="Senha">
        <mat-hint align="start">Peça para o CLIENTE digitar a senha que usará no Sistema.</mat-hint>
      </mat-form-field>
    
      <mat-form-field>
        <input type="password" matInput placeholder="Confirmar Senha" [value]="confirmarSenha" (input)="inputConfirmarSenha($event.target.value)">
        <mat-hint align="end">Os campos "Senha" e "Confirmar Senha" devem ser iguais.</mat-hint>
      </mat-form-field>
    </div>
  
    <div class="btnCadastrar">
      <button mat-raised-button class="azul mat-elevation-z3" [disabled]="!novoClienteForm.valid">Cadastrar</button>
    </div>
  </div>
  
</form>