<form [formGroup]="editaClienteForm" (submit)="editaCliente()">
  <div class="editaClienteFormGrid">
    <div class="tituloGrid">
      <h1 class="titulo">Editar Cliente</h1>
    </div>
    
    <div class="nomedata">
      <mat-form-field>
        <input matInput placeholder="Nome do Cliente" formControlName="Nome">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento" formControlName="DataNascimento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  
    <div class="endereco">
      <mat-form-field>
        <input matInput placeholder="Endereço" formControlName="Endereco">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Bairro" formControlName="Bairro">
      </mat-form-field>
    </div>
  
    <div class="contato">
      <mat-form-field>
        <input matInput placeholder="Telefone" formControlName="Telefone">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Celular" formControlName="Celular">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Outro Número" formControlName="OutroNumero">
      </mat-form-field>
    </div>
  
    <div class="btnCadastrar">
      <button mat-raised-button class="azul mat-elevation-z3" [disabled]="!editaClienteForm.valid">Editar</button>
    </div>
  </div>
  
</form>