.editaClienteFormGrid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 20%);
}

.nomedata {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 5px;
}

.endereco {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5px;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}