<mat-form-field>
  <input matInput placeholder="Nome da Vacina" [(ngModel)]="nomeVacina">
</mat-form-field>
{{nomeVacina}}

<button (click)="cadastrarVacina()" mat-raised-button class="azul" [disabled]="nomeVacina.length < 1">Cadastrar</button>

