.grid {
    background-image: url("../../../assets/loginbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 70% auto;
}

.titulo {
    font-size: 50px;
    grid-area: 1/2;
    align-self: center;
    justify-self: center;
    color: white;
    font-style: italic;
}

.loginBtn{
    grid-area: 2/2;
    align-self: center;
    justify-self: center;
}

.azul {
    background-color: #063af5;
}


