<div class="grid">

  <h1 class="titulo">Vet App</h1>

  <div class="loginBtn">
    <button class="azul mat-elevation-z10"
      (click)="openLoginDialog()" mat-raised-button color="warn">Entrar
    </button>
  </div>

</div>