.buscaGrid {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template: 100% / 80% 20%;
    align-items: center;
}

.fullGrid {
    width: 100%;
    display: grid;
    grid-template: 50px 80px / 100%;
}

.inputGrid {
    width: 100%;
    display: grid;
    grid-template: 100% / 80% 20%;
}

.tituloGrid {
    justify-self: center;
}

.observacaoGrid {
    width: 100%;
    display: grid;
    grid-template: 50px 150px / 100%;
}

.tituloAgendaGrid {
    width: 100%;
    display: grid;
    justify-content: center;
}

.addBtn {
    justify-self: center;
}

.laranja {
    background-color: #e65100;
    color: white;
}

.amarelo {
    background-color: #ffd600;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
}

.btnGrid {
    display: grid;
    justify-items: end;
}