<h1>Agendamento</h1>
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step>
    <form [formGroup]="agendamentoForm">
      <ng-template matStepLabel></ng-template>
      <div class="fullGrid">
        <h4 class="tituloGrid">Selecione o Cliente</h4>
        <div class="inputGrid">
          <mat-form-field>
            <input matInput readonly placeholder="Nome do Cliente" formControlName="ClienteId" [value]="nomeCliente">
          </mat-form-field>
          <div class="addBtn">
            <button (click)="selecionarCliente()" mat-mini-fab matTooltip="Inserir Cliente para quem será cadastrado o Agendamento" class="laranja">
              <mat-icon>person_add</mat-icon>
            </button>
          </div>
        </div>
      </div>
        <div class="btnGrid">
          <button [disabled]="!agendamentoForm.get('ClienteId').valid" mat-button matStepperNext class="azul">Avançar</button>
        </div>
    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="agendamentoForm">
      <ng-template matStepLabel></ng-template>
      <div class="fullGrid">
        <h4 class="tituloGrid">Selecione o Animal</h4>
        <div class="inputGrid">
          <mat-form-field>
            <input matInput readonly placeholder="Nome do Animal" formControlName="AnimalId" [value]="nomeAnimal">
          </mat-form-field>
          <div class="addBtn">
            <button (click)="selecionarAnimal()" mat-mini-fab matTooltip="Inserir Animal para quem será cadastrado o Agendamento" class="amarelo">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="btnGrid">
        <button mat-button matStepperNext class="azul" [disabled]="!agendamentoForm.get('AnimalId').valid">Avançar</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="agendamentoForm">
      <ng-template matStepLabel></ng-template>
      <div class="fullGrid">
        <h4 class="tituloGrid">Selecione o Tipo de Agendamento</h4>
        <div class="inputGrid">
          <mat-select class="tipo" placeholder="Tipo de Agendamento" formControlName="TipoAgendamento" (selectionChange)="tipoAgendamentoChanged($event.value)">
            <mat-option [value]="1">
              Consulta
            </mat-option>
            <mat-option [value]="2">
              Banho e Tosa
            </mat-option>
            <mat-option [value]="3">
              Banho
            </mat-option>
            <mat-option [value]="4">
              Tosa
            </mat-option>
          </mat-select>
        </div>

      </div>
      <div class="btnGrid">
        <button [disabled]="!agendamentoForm.get('TipoAgendamento').valid" mat-button matStepperNext class="azul">Avançar</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel></ng-template>
      <div class="fullGrid">
        <h4 class="tituloGrid">Selecione a Data do Agendamento</h4>
        <div class="inputGrid">
          <mat-form-field>
            <input matInput (ngModelChange)="setouData($event)" [matDatepicker]="picker" 
            placeholder="Data do Agendamento" [(ngModel)]="dataAgendamento"
            name="data" #dataInput="ngModel" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="agendamentosClinicaGrid" *ngIf="agendamentosClinica.length > 0">
          <h5 class="tituloAgendaGrid">Agendamentos para a data</h5>
          <mat-list>
            <mat-list-item *ngFor="let agendamento of agendamentosClinica">
              {{agendamento.dataHora | date: 'HH:mm'}} - 
              <span *ngIf="agendamento.tipoAgendamento === 1"> Consulta </span>
              <span *ngIf="agendamento.tipoAgendamento === 2"> Banho e Tosa </span>
              <span *ngIf="agendamento.tipoAgendamento === 3"> Banho </span>
              <span *ngIf="agendamento.tipoAgendamento === 4"> Tosa </span> - 
              {{agendamento.funcionario.nome | titlecase}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="btnGrid">
        <button [disabled]="!agendamentoForm.get('DataHora').valid" (click)="setouData()" mat-button matStepperNext class="azul">Avançar</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel></ng-template>
      <div class="fullGrid">
        <h4 class="tituloGrid">Selecione o Horário do Agendamento</h4>
        <div class="inputGrid">
          <mat-form-field>
            <input type="time" name="hora" #horaInput="ngModel" matInput
            placeholder="Horário do Agendamento" [(ngModel)]="hora">
          </mat-form-field>
        </div>
        <div class="agendamentosClinicaGrid" *ngIf="agendamentosClinica.length > 0">
          <h5 class="tituloAgendaGrid">Agendamentos para a data</h5>
          <mat-list>
            <mat-list-item *ngFor="let agendamento of agendamentosClinica">
              {{ agendamento.dataHora | date: 'HH:mm' }} - 
              <span *ngIf="agendamento.tipoAgendamento === 1"> Consulta </span>
              <span *ngIf="agendamento.tipoAgendamento === 2"> Banho e Tosa </span>
              <span *ngIf="agendamento.tipoAgendamento === 3"> Banho </span>
              <span *ngIf="agendamento.tipoAgendamento === 4"> Tosa </span> - 
              {{ agendamento.funcionario.nome | titlecase }}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="btnGrid">
        <button [disabled]="hora.length < 4" mat-button matStepperNext class="azul">Avançar</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="agendamentoForm">
      <ng-template matStepLabel></ng-template>
      <div class="fullGrid">
        <h4 class="tituloGrid">Selecione o Funcionário que ficará Responsável pelo Agendamento</h4>
        <div class="inputGrid">
          <mat-form-field>
            <mat-select placeholder="Funcionário Responsável" (selectionChange)="selecionouFuncionario($event.value)" formControlName="FuncionarioId">
              <mat-option *ngFor="let func of funcionariosToShow" [value]="func.id">
                {{ func.nome | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="agendamentosFuncGrid" *ngIf="agendamentosFunc.length > 0">
          <h5 class="tituloAgendaGrid">Agendamentos do funcionário para a data</h5>
          <mat-list>
            <mat-list-item *ngFor="let agendamento of agendamentosFunc">
              {{ agendamento.dataHora | date: 'HH:mm' }} - 
              <span *ngIf="agendamento.tipoAgendamento === 1"> Consulta </span>
              <span *ngIf="agendamento.tipoAgendamento === 2"> Banho e Tosa </span>
              <span *ngIf="agendamento.tipoAgendamento === 3"> Banho </span>
              <span *ngIf="agendamento.tipoAgendamento === 4"> Tosa </span> - 
              {{ agendamento.funcionario.nome | titlecase }}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="btnGrid">
        <button [disabled]="!agendamentoForm.get('FuncionarioId').valid" mat-button matStepperNext class="azul">Avançar</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="agendamentoForm">
      <ng-template matStepLabel></ng-template>
      <div class="observacaoGrid">
          <h4 class="tituloGrid">Descreva observações específicas sobre este Agendamento</h4>
          <mat-form-field>
            <textarea matInput rows="3" formControlName="Observacoes" placeholder="Observações necessárias como cuidados especiais, alergias, produtos que devem ser usados, etc"></textarea>
          </mat-form-field>
      </div>
      <div class="btnGrid">
        <button mat-button matStepperNext class="azul">Avançar</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
      <form>
        <ng-template matStepLabel></ng-template>
        <div class="mostraAgendamentoGrid">
          <h3 class="tituloGrid">Agendamento</h3>
          <p>Cliente: {{nomeCliente}}</p>
          <p>Animal: {{nomeAnimal}}</p>
          <p>Data: {{dataAgendamento | date:'dd/MM/yyyy'}} - Horário: {{hora}}</p>
          <p *ngIf="agendamentoForm.get('TipoAgendamento').value == 1">Tipo: Consulta</p>
          <p *ngIf="agendamentoForm.get('TipoAgendamento').value == 2">Tipo: Banho e Tosa</p>
          <p *ngIf="agendamentoForm.get('TipoAgendamento').value == 3">Tipo: Banho</p>
          <p *ngIf="agendamentoForm.get('TipoAgendamento').value == 4">Tipo: Tosa</p>
          <p>Responsável: {{nomeFuncionario}}</p>
          <p>Observações: {{agendamentoForm.get('Observacoes').value}}</p>
        </div>
        <div class="btnCadastrar">
          <button mat-button class="azul"
            [disabled]="!agendamentoForm.valid || hora.length < 4"
            (click)="agendar(hora)">Cadastrar Agendamento</button>
        </div>
      </form>
    </mat-step>

</mat-horizontal-stepper>