.listaAgendamentosVGrid {
    width: 88%;
    display: grid;
    grid-template-rows: 100px 100px auto;
    margin-left: 5%;
    margin-right: 5%;
}

.tituloGrid {
    justify-self: center;
}
.filtrosGrid {
    display: grid;
    grid-template: 50px 50px / 100%;
    grid-gap: 5px;
}

.filtrosBtnGrid {
    display: grid;
    grid-template: 100% / 25% 25% 25%;
    grid-gap: 8%;
    margin-bottom: 15px;
    justify-content: center;
}

.expansionGrid {
    display: grid;
    grid-template: 100% / 30% 30% 30%;
    grid-gap: 3%;
}

.verde {
    background-color: #388e3c;
    color: white;
}

.azulclaro {
    background-color: #4fc3f7;
    color: white;
}

.agendado {
    background-color: #b2ebf2;
}

.agendadosBtn {
    background-color: #298e9b;
    color: white;
}

.realizado {
    background-color: #c8e6c9;
}

.realizadosBtn {
    background-color: #28b934;
    color: white;
}

.todosBtn {
    background-color: #3568f5;
    color: white;
}