<div class="listaAgendamentosVGrid">
  <h1 class="tituloGrid">Minhas Consultas Agendadas</h1>

  <div class="filtrosGrid">

    <mat-form-field>
        <input matInput placeholder="Filtre as Consultas pelo Nome do Cliente" autocomplete="off" [value]="clienteTermo" (input)="termoClienteChanged($event.target.value)">
    </mat-form-field>

    <div class="filtrosBtnGrid">
        <button (click)="filtroAgendamentos(1, agendamentos, clienteTermo)" mat-raised-button class="agendadosBtn">
            Em Aberto
        </button>
        <button (click)="filtroAgendamentos(0, agendamentos, clienteTermo)" mat-raised-button class="todosBtn">
            Todas
        </button>
        <button (click)="filtroAgendamentos(3, agendamentos, clienteTermo)" mat-raised-button class="realizadosBtn">
            Finalizadas
        </button>
    </div>

  </div>
 
  <mat-accordion>
      <mat-expansion-panel *ngFor="let agendamento of agendamentosToShow"
          class="mat-elevation-z5"
          [ngClass]="{'agendado': agendamento.statusId == 1, 'realizado': agendamento.statusId == 3}">
          <mat-expansion-panel-header>
              <mat-panel-title>
                  {{agendamento.dataHora | date: 'dd/MM/yyyy HH:mm'}}
              </mat-panel-title>
              <mat-panel-description class="panelFlex">
                  <div class="fone">
                      <mat-icon>person</mat-icon>{{agendamento.cliente.nome | titlecase}}
                      <mat-icon>pets</mat-icon>{{agendamento.animal.nome | titlecase}}
                      <mat-icon>work</mat-icon>{{agendamento.funcionario.nome | titlecase}}
                  </div>
              </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="expansionGrid">
              <button mat-raised-button class="verde">
                  <mat-icon>edit</mat-icon> Editar
              </button>
              <a [routerLink]="['/veterinarios/gerarConsulta', agendamento.id]" mat-raised-button class="azulclaro">
                  <mat-icon>assignment</mat-icon> Abrir Consulta
              </a>
              <button mat-raised-button class="cor">
                  <mat-icon>date_range</mat-icon> Botão 3
              </button>
          </div>
      
      </mat-expansion-panel>
  </mat-accordion>
</div>