<div class="perfilGrid">
  <button (click)="editarCliente()" mat-mini-fab matTooltip="Editar informações do Cliente" class="editColor">
    <mat-icon>mode_edit</mat-icon>
  </button>
  <div class="headGrid">
    <div class="tituloGrid">
      <h3>{{cliente.nome | titlecase}}</h3>
    </div>
    <p>Data de Nascimento: {{cliente.dataNascimento | date:'dd/MM/yyyy'}}</p>
    <p>Email: {{cliente.email}}</p>
  </div>

  <div class="enderecoGrid">
    <div>
      <h4>Endereço</h4>
    </div>
    <div>
      <p>Cidade: **PRECISA POR CIDADE**</p>
    </div>
    <div class="endBairro">
      <p>{{cliente.endereco}}</p>
      <p>{{cliente.bairro}}</p>
    </div>
  </div>

  <div class="contatoGrid">
    <h4>Contato</h4>
    <div class="telefonesGrid">
      <p>Telefone: {{cliente.telefone}}</p>
      <p>Celular: {{cliente.celular}}</p>
      <p>Outro Número: {{cliente.outroNumero}}</p>
    </div>
  </div>

  <div>
    <h4>Animais</h4>
    <mat-list>
      <mat-list-item *ngFor="let animal of cliente.animais">
        <div class="animalGrid">
          <span>
            {{animal.nome | titlecase}}
          </span>
          <div class="animalBtns">
            <button mat-mini-fab matTooltip="Cadastrar Agendamento para {{animal.nome}}" class="verde">
              <mat-icon>date_range</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Ver perfil de {{animal.nome}}" class="amarelo">
              <mat-icon>pets</mat-icon>
            </button>
          </div>
        </div>

      </mat-list-item>
    </mat-list>
  </div>

</div>