.perfilGrid {
    display: grid;
    grid-template-rows: 5% 30% 20% 150% 30%;
    grid-template-columns: 100%;
}

.headGrid, .enderecoGrid, .endBairro {
    display: grid;
}

.endBairro {
    grid-template-columns: 60% 40%;
}

.tituloGrid {
    justify-self: center;
}

.editColor {
    justify-self: end;
    background-color: #00bcd4;
}

.telefonesGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.animalGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.mat-list-item:nth-child(even){
    background-color:#00000024;
}

.mat-list-item:nth-child(odd){
    background-color: white;
}

.amarelo {
    background-color: #ffd600;
}

.verde {
    background-color: #388e3c;
    color: white;
}

.animalBtns {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}



