<div class="cadAnimalGrid">
  <h1 class="tituloGrid">Cadastrar Animal</h1>
  
  <div class="clienteGrid" [formGroup]="cadastrarAnimalForm">
    <mat-form-field>
      <input matInput readonly placeholder="Nome do Cliente" formControlName="ClienteId" [value]="nomeCliente">
    </mat-form-field>
    <div class="cliBtn">
      <button (click)="selecionarCliente()" mat-mini-fab matTooltip="Inserir Cliente para quem será cadastrado o Animal" class="laranja">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
    
  </div>

  
  <form [formGroup]="cadastrarAnimalForm" (submit)="cadastrarAnimal()">
  
      <div class="formGrid">

        <div class="nomeDataGrid">
          <mat-form-field>
            <input matInput placeholder="Nome do Animal" formControlName="Nome">
          </mat-form-field>
  
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento do Animal" formControlName="DataNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        
        <div class="separador">
          <mat-form-field>
            <input matInput placeholder="Cor do Animal" formControlName="Cor">
          </mat-form-field>
          <mat-divider></mat-divider>
        </div>

        <div class="filtroGrid">
          <mat-form-field>
            <input matInput placeholder="Filtre as Raças pelo Nome" autocomplete="off" [value]="termo" (input)="termoChanged($event.target.value)">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Filtre por Espécie" (selectionChange)="carregaRacas($event.value)">
              <mat-option *ngFor="let especie of especies" [value]="especie.id">
                {{ especie.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-selection-list ng-model="racaId" (selectionChange)="racaChanged($event.option.value)">
          <mat-list-option [selected]="racaId == raca.id" *ngFor="let raca of racas | filtro:termo" [value]="raca.id">
            {{ raca.nome }}
          </mat-list-option>
        </mat-selection-list>
 
        <div class="btnCadastrar">
          <button mat-raised-button class="azul mat-elevation-z3" [disabled]="!cadastrarAnimalForm.valid">Cadastrar</button>
        </div>
  
    </div>
  
  </form>
</div>