.cadAnimalGrid {
    width: 100%;
    display: grid;
    grid-template: 10% 10% 80% / 100%;
}

.tituloGrid {
    justify-self: center;
}

.clienteGrid {
    width: 100%;
    display: grid;
    grid-template: 100% / 80% 20%;
}

.cliBtn {
    justify-self: center;
}


.nomeDataGrid {
    width: 100%;
    display: grid;
    grid-template: 100% / 70% 30%;
}

.formGrid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 15%);
}

.filtroGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 3px;
}


.laranja {
    background-color: #e65100;
    color: white;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
    margin-top: 5px;
}