<div class="clientesGrid">
    <div class="tituloGrid">
        <h1 class="titulo">Lista de Clientes</h1>
        <mat-form-field>
            <input matInput placeholder="Filtre os clientes pelo Nome" autocomplete="off" [value]="termo" (input)="termoChanged($event.target.value)">
        </mat-form-field>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let cliente of clientes | filtro:termo" class="mat-elevation-z5">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{cliente.nome | titlecase}}
                </mat-panel-title>
                <mat-panel-description class="panelFlex">
                    <div class="fone">
                        <mat-icon>phone</mat-icon>{{cliente.telefone}}
                        <mat-icon *ngIf="cliente.outroNumero">phone</mat-icon>{{cliente.outroNumero}}
                        <mat-icon *ngIf="cliente.Celular">phone</mat-icon>{{cliente.Celular}}
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="expansionGrid">
                <button (click)="verPerfil(cliente.id)" mat-raised-button class="laranja">
                    <mat-icon>person</mat-icon> Ver Perfil
                </button>
                <button (click)="cadastrarAnimal(cliente.id)" mat-raised-button class="amarelo">
                    <mat-icon>pets</mat-icon> Cadastrar Animal
                </button>
                <button (click)="cadastrarAgendamento(cliente.id)" mat-raised-button class="verde">
                    <mat-icon>date_range</mat-icon> Novo Agendamento
                </button>
            </div>
        
        </mat-expansion-panel>
    </mat-accordion>
</div>