.clientesGrid {
    width: 88%;
    display: grid;
    grid-template-rows: 150px auto;
    margin-left: 5%;
    margin-right: 5%;
}

.tituloGrid {
    display: grid;
    grid-template: 60% 40% / 100%;
    margin-bottom: 30px;
}

.titulo {
    justify-self: center;
}

.mat-expansion-panel-header-title {
    width: 30%;
}

.panelFlex {
    justify-content: space-evenly;
}

.expansionGrid {
    display: grid;
    grid-template: 100% / 30% 30% 30%;
    grid-gap: 3%;
}

.amarelo {
    background-color: #ffd600;
}

.verde {
    background-color: #388e3c;
    color: white;
}

.laranja {
    background-color: #e65100;
    color: white;
}