.finalizarAgendamentoGrid {
    display: grid;
    grid-template: 70px 150px 70px / 100%;
}

h3 {
    justify-self: center;
}

.inputElement {
    display: none;
}

.inserirCor {
    background-color: #f07e22;
    color: white;
}

.imageInfo {
    background-color: #fdda8f;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}

.btnFinalizar {
    display: grid;
    grid-template-columns: 20% auto 20%;
}