<div class="finalizarAgendamentoGrid">
  <h3>Finalizar Agendamento</h3>
  
  <div class="formInfo">
    <input class="inputElement" #fileInput (change)="inserirImagem($event)" multiple type="file" />
    <button (click)="fileInput.click()" mat-button class="inserirCor">
      <mat-icon>add_a_photo</mat-icon> Inserir imagem do Animal
    </button>
    <div class="imageInfo" *ngIf="foto">
      <p>{{foto.name}}</p>
    </div>
    
    <div class="agendamentoInfo">
      <p>
        {{agendamento?.animal.nome | titlecase}}
        {{agendamento?.dataHora | date: 'dd/MM/yyyy'}}
        {{agendamento?.funcionario.nome | titlecase}}
      </p>
    </div>
  </div>
  
  <div class="btnFinalizar">
    <button (click)="finalizarAgendamento()" mat-button class="azul">Finalizar Agendamento</button>
  </div>
</div>