<mat-tab-group>
  <mat-tab label="Lista de Clientes">
    <app-lista-clientes></app-lista-clientes>
  </mat-tab>

  <mat-tab label="Cadastrar Clientes">
    <app-cadastrar-cliente></app-cadastrar-cliente>
  </mat-tab>

  <mat-tab label="Vincular Cliente">
    <app-vincular-cliente></app-vincular-cliente>
  </mat-tab>
</mat-tab-group>