<div class="addSintomaGrid">
  <h5 class="tituloGrid">Novo Sintoma</h5>
  <mat-form-field>
    <input matInput placeholder="Descrição Sintoma" [(ngModel)]="descricaoSintoma">
  </mat-form-field>
  
  <div class="btnCadastrar">
    <button (click)="adicionarSintoma()" mat-raised-button class="azul mat-elevation-z3" [disabled]="!descricaoSintoma">Adicionar</button>
  </div>
</div>