.addSintomaGrid {
    width: 100%;
    display: grid;
    grid-template: 80px 85px auto / 100%;
}

.tituloGrid {
    justify-self: center;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}