<div class="animalGrid">
  <h3 class="tituloGrid">Selecionar Animal</h3>
  <mat-form-field>
      <input matInput placeholder="Filtre os animais pelo Nome" autocomplete="off" [value]="termo" (input)="termoChanged($event.target.value)">
  </mat-form-field>
  <mat-selection-list ng-model="animalSelecionado" (selectionChange)="animalMudou($event.option.value)">
    <mat-list-option [selected]="animalSelecionado == animal.id" *ngFor="let animal of cliente.animais | filtro:termo" [value]="animal.id">
      <span>
        {{ animal.nome }}
      </span>
    </mat-list-option>
  </mat-selection-list>
</div>    