<mat-tab-group>
  
<!-- logar admin tab -->

    <mat-tab label="Administrador">
      <form [formGroup]="adminLogin" (submit)="logarAdmin()">
        <div class="adminFormGrid">

          <h4 class="tituloGrid">Logar como Administrador</h4>

          <mat-form-field>
            <input matInput placeholder="Email Admin" formControlName="Email">
          </mat-form-field>

          <mat-form-field>
            <input class="esticado" matInput type="password" placeholder="Senha Admin" formControlName="Senha">
          </mat-form-field>

          <button class="formRow" mat-raised-button class="azul" [disabled]="!adminLogin.valid" >Entrar</button>

        </div>
      </form>
    </mat-tab>


<!-- logar funcionario tab -->

    <mat-tab label="Funcionário">
      <form [formGroup]="funcionarioLogin" (submit)="logarFuncionario()">
        <div class="funcFormGrid">

          <h4 class="tituloGrid">Logar como Funcionário</h4>

          <mat-form-field class="formRow">
            <input matInput placeholder="Login Clínica" formControlName="Clinica">
          </mat-form-field>

          <mat-form-field class="formRow">
            <input matInput type="password" placeholder="Senha Clínica" formControlName="SenhaClinica">
          </mat-form-field >

          <mat-form-field class="formRow">
            <input matInput placeholder="Email Funcionário" formControlName="Email">
          </mat-form-field>

          <mat-form-field class="formRow">
            <input class="esticado" matInput type="password" placeholder="Senha Funcionário" formControlName="Senha">
          </mat-form-field>

          <button class="formRow" mat-raised-button class="azul" [disabled]="!funcionarioLogin.valid">Entrar</button>
          
        </div>    

        </form>
      </mat-tab>

</mat-tab-group>