.funcFormGrid {
    display: grid;
    grid-template-rows: repeat(6, 16%);
    grid-template-columns: auto;
}

.tituloGrid {
    justify-self: center;
}

.adminFormGrid {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: auto;
}



.azul {
    background-color: #063af5;
    color: #fff;
}