.clinicaFormGrid {
    display: grid;
    grid-template-rows: repeat(8, 12%);
    grid-template-columns: auto;
}

.funcGrid {
    display: grid;
    grid-template: 100% / repeat(3, 33%);
}

.azul {
    background-color: #063af5;
    color: #fff;
}