<form [formGroup]="clinicaForm" (submit)="cadastrarClinica()">
  <div class="clinicaFormGrid">
    <h1>Cadastrar Clínica</h1>
  
    <mat-form-field>
      <input matInput placeholder="Nome Clínica" formControlName="ClinicaNome">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Responsavel pela Clínica" formControlName="Responsavel">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Endereço Clínica" formControlName="Endereco">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Login Clínica" formControlName="ClinicaLogin">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="password" placeholder="Senha Clínica" formControlName="Senha">
    </mat-form-field >
  <div class="funcGrid" formGroupName="Funcionario">
    <mat-form-field>
      <input matInput placeholder="Nome Gerente" formControlName="Nome">
    </mat-form-field>
  
    <mat-form-field class="formRow">
      <input matInput placeholder="Email Gerente" formControlName="Email">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput type="password" placeholder="Senha Gerente" formControlName="Senha">
    </mat-form-field >
  </div>
  
  
    <button class="formRow" mat-raised-button class="azul" [disabled]="!clinicaForm.valid">Cadastrar</button>
  </div>
         
</form>