<div class="vacinaGrid">
  <h3 class="tituloGrid">Selecionar Vacina / Injeção</h3>
  <mat-selection-list ng-model="vacinaSelecionada" (selectionChange)="vacinaMudou($event.option.value)">
    <mat-list-option [selected]="vacinaSelecionada == vacina.id" *ngFor="let vacina of vacinasDoAnimal" [value]="vacina.id">
      <span>
        {{vacina.dataHoraAplicacao | date: 'dd/MM/yyyy'}} - {{vacina.vacina.nome | titlecase}} - {{vacina.quantidadeAplicada}} ml
      </span>
    </mat-list-option>
  </mat-selection-list>
</div>    