.cancelarAgendamentoGrid {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template: 100px 70px 70px / 100%;
}

h3 {
    justify-self: center;
}

.btnCancelar {
    width: 100%;
    display: grid;
    grid-template: 100% / 20% auto 20%;
}

.vermelho {
    background-color: #f55656;
    color: white;
    height: 50px;
    grid-area: 1/2;
}