<div class="cancelarAgendamentoGrid">
  <h3>Cancelar Agendamento</h3>
  
  <mat-select class="tipo" placeholder="Tipo de Agendamento" [(ngModel)]="motivo">
    <mat-option [value]="2">
      Cliente não compareceu
    </mat-option>
    <mat-option [value]="1">
      Outro
    </mat-option>
  </mat-select>
  
  <div class="btnCancelar">
    <button mat-button class="vermelho"
      [disabled]="motivo === 0"
      (click)="cancelar()">Cancelar Agendamento</button>
  </div>
</div>