.selecionaTipoGrid {
    display: grid;
    grid-template: 70px 50px / 100%;
}

h3 {
    justify-self: center;
}
.opcoesGrid {
    display: grid;
    grid-template: 100% / 45% 45%;
    grid-gap: 8%;
}

.azul {
    background-color: #3c4ef1;
    color: white;
}

.verde {
    background-color: #279c0a;
    color: white;
}
