<div class="selecionaTipoGrid">
  <h3>Pedido de Exame ou Exame Finalizado?</h3>

  <div class="opcoesGrid">
    <button (click)="pedido()" mat-button class="azul">Pedido de Exame</button>
  
    <button (click)="exame()" mat-button class="verde">Exame</button>
  </div>
</div>