.cadFuncFormGrid {
    width: 100%;
    display: grid;
    grid-template: repeat(5, 20%) / 100%;
}

.tituloGrid {
    justify-self: center;
}

.emailFuncaoGrid {
    width: 100%;
    display: grid;
    grid-template: 100% / 45% 45%;
    grid-gap: 5%;
}

.senhaGrid {
    width: 100%;
    display: grid;
    grid-template: 100% / 45% 45%;
    grid-gap: 5%;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}