<form [formGroup]="cadFuncForm" (submit)="cadastrarFuncionario()">
  <div class="cadFuncFormGrid">
    <h1 class="tituloGrid">Cadastrar Funcionário</h1>
  
    <mat-form-field>
      <input matInput placeholder="Nome do Funcionário" formControlName="Nome">
    </mat-form-field>

    <div class="emailFuncaoGrid">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="Email">
      </mat-form-field>
    
      <mat-form-field>
          <mat-select placeholder="Função no Sistema" formControlName="Role">
            <mat-option value="Funcionario">
              Funcionário
            </mat-option>
            <mat-option value="Gerente">
              Gerente
            </mat-option>
            <mat-option value="Veterinario">
              Veterinário
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>  
      
    <div class="senhaGrid">
      <mat-form-field>
        <input type="password" matInput placeholder="Senha" formControlName="Senha">
        <mat-hint align="start">Peça para o FUNCIONÁRIO digitar a senha que usará no Sistema.</mat-hint>
      </mat-form-field>
    
      <mat-form-field>
        <input type="password" matInput placeholder="Confirmar Senha" [value]="confirmarSenha" (input)="inputConfirmarSenha($event.target.value)">
        <mat-hint align="end">Os campos "Senha" e "Confirmar Senha" devem ser iguais.</mat-hint>
      </mat-form-field>
    </div>
  
    <div class="btnCadastrar">
      <button mat-raised-button class="azul mat-elevation-z3" [disabled]="!cadFuncForm.valid">Cadastrar</button>
    </div>
  </div>

</form>