.aplicaVacinaGrid {
    width: 100%;
    display: grid;
    grid-template: 100px 80px 100px 80px 60px / 100%;
}

h1 {
    justify-self: center;
}

.cliAnimalGrid {
    display: grid;
    grid-template: 100% / 45% 45%;
    grid-gap: 10%;
}

.dataQuantidadeGrid{
    display: grid;
    grid-template: 100% / 45% 45%;
    grid-gap: 10%;
}

.azul {
    background-color: #063af5;
    color: #fff;
    grid-area: 1 / 2;
}

.btnCadastrar {
    display: grid;
    grid-template-columns: 30% auto 30%;
}