<form class="aplicaVacinaGrid" [formGroup]="aplicaVacinaForm" (submit)="cadastrarAplicacao()">
  <h1>Aplicar Vacina</h1>

  <div class="cliAnimalGrid">
    <mat-form-field>
      <input matInput readonly placeholder="Nome do Cliente" [value]="cliente.nome">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput readonly placeholder="Nome do Animal" [value]="animal.nome">
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-select placeholder="Selecionar Vacina" formControlName="VacinaId">
      <mat-option *ngFor="let vacina of vacinas" [value]="vacina.id">
        {{vacina.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="dataQuantidadeGrid">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Data da Aplicação" formControlName="DataHoraAplicacao">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input type="number" matInput placeholder="Quantidade Aplicada" formControlName="QuantidadeAplicada">
      <span matSuffix>ml</span>
    </mat-form-field>
  </div>
  
  <div class="btnCadastrar">
    <button mat-button class="azul" [disabled]="!aplicaVacinaForm.valid">Aplicar</button>
  </div>

</form>