<div class="vincularGrid">
  <h1>Vincular nas Consultas</h1>

  <button (click)="vincularVacinaInjecao()" mat-raised-button class="laranja mat-elevation-z3">
    <mat-icon>send</mat-icon> Vacina/Injeção
  </button>

  <button mat-raised-button class="roxo mat-elevation-z3">
    <mat-icon>description</mat-icon> Exame/Pedido de Exame
  </button>

</div>
