<mat-tab-group>
  <mat-tab label="Todos os Agendamentos">
    <app-lista-agendamentos></app-lista-agendamentos>
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>