/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.error-snackbar {
    background-color: #F44336;
}

.success-snackbar {
    background-color: #4caf50;
}

.info-snackbar {
    background-color: #4eb5f0;
}

.mat-simple-snackbar {
    justify-content: center !important;
    font-size: 16px;
}

.transparent .mat-dialog-container {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.0);
}