.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .toolbar {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 7% 93%;
    justify-items: center;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .mat-elevation-z8 {
    position: relative;
    z-index: 2;
 }

  .tbcolor {
      background: #35bd6e;
  }

  .navcolor {
    background-color: white;
  }
  
  .logout {
    height: 20px;
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: 70% 30%;
  }

  .navitemcolor:hover {
    background-color: #5cf362;
    transform: scaleY(1.1);
  }

  .mainbg {
    position: relative;
  }

  .mainbg:before {
    content: "";
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    background-image: url("../../../assets/gottacatch.jpg");
    opacity: 0.33;
  }

  .content {
    position: relative; 
    z-index: 2;
}​

  .listGrid {
    display: grid;
    grid-template-columns: 100% 50% 80%;
  }


