<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar toolbar tbcolor mat-elevation-z8">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 (click)="goHome()" class="example-app-name">Vet App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" opened fixedTopGap="56"
                 class="mat-elevation-z5 navcolor">
      <mat-nav-list>
        <div class="logout">
            <span></span>
            <button mat-mini-fab>
                <mat-icon (click)="deslogar()">do_not_disturb_alt</mat-icon>
            </button>
        </div>
        <p>Bem vindo, {{token.clinicaId | titlecase}}</p>
        <a class="mat-elevation-z3 navitemcolor" mat-list-item (click)="goHome()">
          <mat-icon matListIcon>home</mat-icon>
          <span>Página Inicial</span>
        </a>
        <!-- funcionarios nav -->

        <a class="mat-elevation-z3 navitemcolor" mat-list-item
          *ngIf="token.role === 'Gerente' || token.role === 'Funcionario' || token.role === 'Veterinario'"
          [routerLink]="['/funcionarios/clientes']"
          (click)="carregando('/funcionarios/clientes')">
          <mat-icon matListIcon>people</mat-icon>
          <span>Clientes</span>
        </a>

        <a class="mat-elevation-z3 navitemcolor" mat-list-item
          *ngIf="token.role === 'Gerente' || token.role === 'Funcionario' || token.role === 'Veterinario'"
          [routerLink]="['/funcionarios/agendamentos']"
          (click)="carregando('/funcionarios/agendamentos')">
          <mat-icon matListIcon>date_range</mat-icon>
          <span>Agendamentos</span>
        </a>
        
        <!-- end funcionarios nav -->

        <!-- veterinarios nav -->

        <a class="mat-elevation-z3 navitemcolor" mat-list-item
          *ngIf="token.role === 'Veterinario'"
          [routerLink]="['/veterinarios/consultas']"
          (click)="carregando('/veterinarios/consultas')">
          <mat-icon matListIcon>note_add</mat-icon>
          <span>Consultas</span>
        </a>
        
        <!-- end veterinarios nav -->

        <!-- gerente nav -->

        <a class="mat-elevation-z3 navitemcolor" mat-list-item
          *ngIf="token.role === 'Gerente'"
          [routerLink]="['/gerente/cadastrarfuncionario']"
          (click)="carregando('/gerente/cadastrarfuncionario')">
          <mat-icon matListIcon>work</mat-icon>
          <span>Cadastrar Funcionário</span>
        </a>
        
        <!-- end gerente nav -->

        <!-- admin nav -->

        <a class="mat-elevation-z3 navitemcolor" mat-list-item
          *ngIf="token.role === 'Admin'" [routerLink]="['/admin/cadastrarclinica']">
          <span>Cadastrar Clínica</span>
        </a>

        <a class="mat-elevation-z3 navitemcolor" mat-list-item
          *ngIf="token.role === 'Admin'" [routerLink]="['/admin/cadastrarvacina']">
          <span>Cadastrar Vacina</span>
        </a>

        <!-- end admin nav -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="mainbg">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>