.homeFuncGrid {
    display: grid;
    grid-template: 100% / 85% 15%;
    grid-gap: 10px;
}

.sideContent {
    min-height: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.sideContent > button {
    margin-top: 30px;
}


.editColor {
    background-color: #00bcd4;
}

.amarelo {
    background-color: #ffd600;
}

.verde {
    background-color: #388e3c;
    color: white;
}

.azulclaro {
    background-color: #4fc3f7;
    color: white;
}

.laranja {
    background-color: #ffa726;
    color: white;
}

.roxo {
    background-color: #3f51b5;
    color: white;
}