<div class="homeFuncGrid">
  <div class="mainContent">
    <p>
      home-funcionarios works!
    </p>
  </div>
  <div class="sideContent">
    <button (click)="cadastrarAnimal()" mat-mini-fab matTooltip="Cadastrar Animal" class="amarelo">
      <mat-icon>pets</mat-icon>
    </button>
    <button (click)="cadastrarAgendamento()" mat-mini-fab matTooltip="Cadastrar Agendamento" class="verde">
      <mat-icon>date_range</mat-icon>
    </button>
    <button (click)="gerarConsulta()" *ngIf="token.role == 'Veterinario'" mat-mini-fab matTooltip="Gerar Consulta" class="azulclaro">
      <mat-icon>assignment</mat-icon>
    </button>
    <button (click)="aplicarVacina()" *ngIf="token.role == 'Veterinario'" mat-mini-fab matTooltip="Aplicar Vacina/Injeção" class="laranja">
      <mat-icon>send</mat-icon>
    </button>
    <button (click)="novoExame()" *ngIf="token.role == 'Veterinario'" mat-mini-fab matTooltip="Exame / Pedido de Exame" class="roxo">
      <mat-icon>description</mat-icon>
    </button>
  </div>
</div>
